<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>FiraCode-Regular.ttf</string>
        <string>FiraCode-Bold.ttf</string>
        <string>FiraCode-Light.ttf</string>
        <string>FiraCode-Medium.ttf</string>
    </array>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.624870933746-hct4k7h2guiegd2urobjbb2f9gbjgfro</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>624870933746-hct4k7h2guiegd2urobjbb2f9gbjgfro.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>BackgroundColor</key>
			<string>##232323</string>
		</dict>
	</dict>
</dict>
</plist>
